.title-entreprise {
  color: rgb(78, 201, 67);
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  padding-top: 65px;
  white-space: nowrap;
  overflow: hidden;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  width: 105ch;
  display: flex;
  margin-left: 1%;
}

.entreprise-pres {
  color: rgb(78, 201, 67);
  width: 60ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  margin-left: 1%;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.image img {
  height: 100px;
}

.presentation {
  display: flex;
  text-align: center;
  margin-top: 15px;
  justify-content: center;
}

.mission-title {
  text-align: center;
}

.mission-vignettes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.mission-vignette1 {
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
  padding: 50px;
  border: 7px solid rgb(255, 255, 255);
  max-width: 22%;
  border-radius: 10%;
}

.mission-vignette1 img {
  width: 100%;
  border-radius: 8px;
}

.mission-vignette2 {
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
  padding: 50px;
  border: 7px solid rgb(255, 255, 255);
  max-width: 22%;
  border-radius: 10%;
}

.mission-vignette2 img {
  width: 100%;
  border-radius: 8px;
}

.icons1 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 7%;
}

.outils {
  text-align: center;
}

.paragraphe {
  text-align: center;
}

.loc {
  margin-left: 33%;
}

.org {
  text-align: center;
}

.kili-diag {
  margin-left: 33%;
}

.title-clients {
  text-align: center;
}

.chiffres {
  /* margin-top: 10%; */
  text-align: center;
}

.global {
  display: flex;
  justify-content: center;
  /* margin-top: 6%; */
}

.info-global {
  text-align: center;
  /* margin-top: 4%; */
}

.organigramme {
  /* margin-top: 5%; */
  text-align: center;
}


.resau-info{
  text-align: center;
}

.role{
  text-align: center;
}

.info-global{
  display: flex;
  justify-content: space-around;
}