html{
    color: rgb(78, 201, 67);
}




.titre_txt {
  color: rgb(78, 201, 67);
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  padding-top: 65px;
  white-space: nowrap;
  overflow: hidden;
  width: 50ch;
  display: flex;
  text-align: center;
}

.txt_pres {
  color: rgb(78, 201, 67);
  width: 47ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
}

.projet_pres {
    color: rgb(78, 201, 67);
    margin-top: 10%;
    align-items: center;
    text-align: center;
}

.container {
  display: flex;
  justify-content: space-between; /* Crée un espace égal entre les deux éléments */
  align-items: center; /* Centre les éléments verticalement */
  max-width: 975px; /* ou la largeur souhaitée */
  margin: 0 auto; /* Centre le conteneur horizontalement */
  text-align: center;
  gap: 13rem;
  margin-top: 10%;
}

.txt-readme{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
}

.txt_rdtxt{
  margin-top: 10%;
}